@font-face {
    font-family: 'GillSansMT';
    src: local('GillSansMT'), url(../../fonts/GillSansMT.TTF) format('truetype');
}
.homePageContainer{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    align-items: center;
    min-height: 150vh;
}

.homePagePosts{
    font-family: 'GillSansMT';
    font-style: normal;
    margin-top:4rem;
    margin-left:4rem;
    margin-right:4rem;

    max-width: 80rem;
    min-width: 60rem;
    
    

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.postPreview{
    z-index: 0;
    display: block;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
    position: relative ;
    width: 24rem;
    height: 30rem;
    overflow: hidden;

    color: #ffffff;

    /* border:5px #000000 solid; */
    outline: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.previewTag{
    transition: 0.5s;
    z-index: 2;
    position: absolute;
    /* display: block; */
    top: 0;
    right: 0;
    width: 7rem;
    height: 2.5rem;

    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;

}
.previewImage{
    z-index: 1;
    position: relative ;
    text-align: center;

}
.previewTitle{
    font-family: 'GillSansMT';
    font-style: normal;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;

    height: 30%;
    text-align: center;
    font-size: 1.5rem;
    /* font-family: 'Ubuntu', sans-serif; */
    text-transform: uppercase;

    /* font-weight:bold; */
    letter-spacing: 0.2rem;
   
    position: relative ;
    vertical-align: sub;
}
/* .information{
    margin-top:5rem;
    margin-bottom:5rem;

    width: 100%;
    height: 50rem;
    border:5px #000000 solid;
} */

.postPreview:hover .previewImage{
    filter: brightness(50%);
}
.postPreview:hover .previewTitle{
    filter: brightness(50%);
}
/* .postPreview:hover{
    filter: brightness(50%);
} */
.postPreview:hover .previewTag{
    width: 100%;
    transition: 0.5s;
}

/* .footerBar{
    width: 100%;
    height: 20rem;
    background: rgba(234,16,44,1);
    color: rgba(255,255,255,1);
} */
